*, *::before, *::after {
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-areas: 
    "nav"
    "main"
    "footer"
    ;
    margin-top: 0;
    margin-bottom: 0;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
    height: 100vh;
    box-sizing: border-box;
}





