/* Basic table styling */
table {
    width: 450px;
    height: 450px;
    border-collapse: collapse;
    margin: 20px auto;
}

td input:hover{
    cursor: pointer;
}
td {
    width: 50px;
    height: 50px;
    border: 1px solid #aaa;
    box-sizing: border-box;
}
@media only screen and (max-width: 480px) {
    table {
        width: 360px;
        height: 360px;
    }
    td {
        width: 40px;
        height: 40px;
        border: 1px solid #aaa;
        box-sizing: border-box;
    }
}



/* Input styling to fill the cell */
td input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    font-size: 20px;
    text-align: center;
    outline: none;
    caret-color: transparent;
}


td input:focus {
    background-color: #f2f2f2;
}

/* Styling for the thick borders between the 3x3 blocks */
tr:nth-child(3) td, tr:nth-child(6) td {
    border-bottom: 3px solid #000;
}

td:nth-child(3), td:nth-child(6) {
    border-right: 3px solid #000;
}

.sudoku{
    border: #000 solid 2px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.main{
	grid-area: main;
	text-align: center;
	min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}	 

main button {
    border-radius: 8px;
    cursor: pointer;
    font-size: 25px;
  background-color: white;
  color: black;
  border: 2px solid #555555;
  padding: 5px 15px;
  opacity: 70%;
}

main button:hover {
  background-color: #555555;
  color: white;
}