---
import Layout from "../layouts/Layout.astro"
import "../styles/global.css";
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
---

<Layout title="Fagerli">
	
<Navbar />
<main class="main">
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod earum distinctio perferendis voluptas fugit molestias odio, eveniet placeat assumenda repellendus delectus aliquid amet hic quibusdam! Repellat similique aliquid reiciendis, exercitationem accusamus maxime distinctio natus aspernatur sunt impedit perferendis, minima cum atque porro. Eaque at impedit exercitationem laboriosam non soluta. Aspernatur quas rerum deserunt voluptatibus magni voluptatem consequatur porro nobis doloremque ducimus in veritatis iure, aliquid odit fugiat animi ipsa facilis reiciendis quaerat nihil. Enim nisi totam repudiandae unde assumenda autem odit perferendis sunt eveniet, aut veniam. At quia maxime minus impedit. Doloribus vitae velit necessitatibus maxime beatae dolorem odit, blanditiis magni eum natus ducimus, sint, adipisci sequi quibusdam culpa fugit distinctio! Sunt similique harum quod vel molestias sint praesentium, iusto totam quas nemo voluptate atque omnis delectus, a mollitia optio autem voluptatum voluptatem consequuntur repellat. Quo similique minima mollitia iusto, hic minus ipsa laboriosam blanditiis, impedit nisi neque ad aperiam ducimus quae officiis accusamus ea harum vel eaque? Libero magni delectus quia, dolor esse possimus non, laudantium error cupiditate ea voluptatem atque officiis optio neque fugiat officia mollitia! Quas sequi ducimus odit, quis officia atque illum dolor aliquam nulla asperiores provident voluptatibus recusandae fugit sit perspiciatis commodi eius repellat id?</p>
</main>
<Footer />
</Layout>

<style>

.main{
	grid-area: main;
	text-align: center;
    width: 35vw;
	min-width: 400px;
}	

@media only screen and (max-width: 600px) {
  main{
	width: 100vw;
  }
}
</style>