---
import Layout from "../layouts/Layout.astro"
import "../styles/global.css";
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
import image from '../images/yosemite.jpg';
---

<Layout title="Fagerli">
	
<Navbar />
<main class="main">
	<h1>Thomas Fagerli</h1>
	<img src={image.src} alt="Description of Image">
	<p>An experienced web developer with a deep passion for innovative design and clean code. With a strong background in both front-end and back-end technologies, I take pride in creating responsive websites that provide seamless user experiences. Beyond technical skills, I'm a collaborative team player, always eager to learn and adapt to new challenges. With a keen eye for detail and a commitment to continuous growth, I aim to push the boundaries of what's possible on the web.</p>
</main>

<Footer />
</Layout>

<style>

.main{
	grid-area: main;
	text-align: center;
    width: 40vw;
	min-width: 400px;
}	

@media only screen and (max-width: 600px) {
  main{
	width: 100vw;
  }
}
img {
	width: 200px;
}

</style>