---
import Layout from "../layouts/Layout.astro"
import "../styles/global.css";
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
import image from '../images/yosemite.jpg';
---

<Layout title="Fagerli">
	
<Navbar />
<main class="main">
	<h1>Thomas Fagerli</h1>
	<img src={image} alt="Description of Image">	
	<p>Hello! I'm Thomas Fagerli, a passionate cybersecurity enthusiast and technophile. Currently, I'm broadening my horizons with an exchange year at UC Berkeley, while I hail from the Norwegian University of Science and Technology (NTNU). My academic pursuits and interests lie at the intersection of AI, Machine Learning, Natural Language Processing, IT development, programming, and networks. I'm driven by the endless possibilities of technology and always eager to delve deeper into the intricacies of the digital realm. Let's connect and explore the future of tech together!
	</p>
</main>

<Footer />
</Layout>

<style>

.main{
	grid-area: main;
	text-align: center;
    width: 35vw;
	min-width: 400px;
}	

@media only screen and (max-width: 600px) {
  main{
	width: 100vw;
  }
}
img {
	width: 200px;
}

</style>