---
import Layout from "../layouts/Layout.astro"
import "../styles/global.css";
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
---

<Layout title="Fagerli">
	
<Navbar />
<main>
	<img src="https://www.treasury.gov.ph/wp-content/uploads/2022/01/male-placeholder-image.jpeg" alt="Description of Image">
</main>
<Footer />
</Layout>

<style>
	
img {
	align-self: center;
	width: 200px;
}
</style>