---
import Layout from "../layouts/Layout.astro"
import "../styles/global.css";
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
const allPosts = await Astro.glob('../pages/markdown/*.md');

---

<Layout title="Fagerli">
	
<Navbar />
<main class="main">
    <h1>Under construction</h1>
    
    <p>Goal for this page is to share my experiences with different technologies, exploits, notes</p>
    <br>
    
    {allPosts.map((post) => 
        <a class="page" href={post.url}>{post.frontmatter.title}
        <p>Created by {post.frontmatter.author}</p></a>
    )}
</main>
<Footer />
</Layout>

<style>
.main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 500px;

}

.page {
    cursor: pointer;    
    min-width: 200px;
    min-height: 100px;
    width: fit-content;
    height: fit-content;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    border-radius: 12px; 
    margin: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s, box-shadow 0.2s; 
    color: black;
    text-decoration: none;
    

    
}

.page:hover {
    transform: translateY(-2px);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15); 
}

.page p {
    font-size: 10px;
}





</style>