---
import Layout from "../layouts/Layout.astro"
import "../styles/global.css";
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
const allPosts = await Astro.glob('../pages/markdown/*.md');

---

<Layout title="Fagerli">
	
<Navbar />
<main class="main">
    {allPosts.map((post) => <div class="page" onclick="redirectTo('https://example.com')">
        <a href={post.url}>{post.frontmatter.title}</a>
        <p>Created by {post.frontmatter.author}</p>
    </div>)}
</main>

<Footer />
<script>
function redirectTo(url) {
window.location.href = url;
}
</script>
</Layout>

<style>


.page {
    cursor: pointer;    
    min-width: 200px;
    min-height: 100px;
    width: fit-content;
    height: fit-content;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    border-radius: 12px; 
    margin: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s, box-shadow 0.2s; 
}

.page:hover {
    transform: translateY(-2px);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15); 
}

.page a{
    
    text-decoration: none;
}
.page p {
    color: black; 
    font-size: 10px;
}

.main {
    grid-area: main;
    display: flex;
    flex-direction: row;

}



</style>