---
import Layout from "../layouts/Layout.astro"
import "../styles/global.css";
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"

const allProjects = await Astro.glob('../pages/projects/*.astro');

---

<Layout title="Fagerli">
	
<Navbar />
<main class="main">
    <ul>
        {allProjects.map((project) => {
            const fileNameWithExtension = project.file.split('/').pop();
            const fileName = fileNameWithExtension.replace('.astro', '');
            return (
                <a class="page" href={project.url}>{fileName}</a>
            );
        })}
        
      </ul>
</main>

<Footer />
</Layout>

