---
import Layout from "../layouts/Layout.astro"
import "../styles/global.css";
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"


---

<Layout title="Fagerli">
	
<Navbar />
<main class="main">
    <ul><h2>This is a list for my project (under construction)</h1>
        <a class="sudokulink" href="/projects/sudoku">Sudoku Solver</a>
      </ul>
</main>
<script>
    function forceReload(event) {
        event.preventDefault();
        window.location.href = event.currentTarget.href;
    }

    // Select the anchor element and add the event listener
    document.querySelector('#sudokulink').addEventListener('click', forceReload);
</script>
<Footer />
</Layout>

<style>
    main {
        display: flex;
    }

    main ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sudokulink {
    width: fit-content;
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #3498db; /* Choose any color you prefer */
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    }

    .sudokulink:hover {
        background-color: #2980b9; /* Darker shade for hover effect */
    }

    .sudokulink:active {
        background-color: #1c598f; /* Even darker shade for active/click effect */
    }
</style>

