---

---

<footer>
    <p>&copy; 2023 Thomas Fagerli</p>
    <a href="https://www.github.com/thomasfagerli"><i class="fa fa-github" style="font-size:36px;color:black"></i></a>
    <a href="https://www.github.com/thomasfagerli"><i class="fa fa-github" style="font-size:36px;color:black"></i></a>
    <a href="https://www.github.com/thomasfagerli"><i class="fa fa-github" style="font-size:36px;color:black"></i></a>
</footer>

<style>

footer{
    grid-area: footer;
    font-size: 12px;
    width: 100%;
    border-top: #757575 solid 1px;
    text-align: center;
    padding: 10px;
    opacity: 70%;
}
footer a{
    padding: 10px;
}
</style>