---
import Layout from "../../layouts/Layout.astro"
import "../../styles/global.css";
import "../../styles/sudoku.css";
import Navbar from "../../components/Navbar.astro"
import Footer from "../../components/Footer.astro"

---
<Layout>
<Navbar />
<main class="main">
<table class="sudoku">
    <tr>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
    </tr>
    <tr>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
    </tr>
    <tr>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
    </tr>
    <tr>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
    </tr>
    <tr>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
    </tr>
    <tr>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
    </tr>
    <tr>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
    </tr>
    <tr>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
    </tr>
    <tr>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
        <td><input type="number" min="1" max="9"></td>
    </tr>
</table>
<script>
import "../../scripts/sudoku.js";


</script>
<button id="solveButton" >Solve</button>
</main>

<Footer />
</Layout>

<style>


</style>


